<div class="card cardDesign1">
  <div class="container"> 
    <img src="{{this.frontSprite}}" class="image">
    <a class="text hiddenBtn middle" href="/editPokemon/{{this.id}}">Edit</a>
  </div>
  <div class="card-body noTopPadding">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="noBotMargin">{{this.nature}} - {{this.ability}}</p>
    <p class="noBotMargin">{{this.item}}</p>
    <p class="noBotMargin">{{this.evs.HP}}/{{this.evs.Atk}}/{{this.evs.Def}}/{{this.evs.SpAtk}}/{{this.evs.SpDef}}/{{this.evs.Spe}}</p>
    <p class="noBotMargin">{{this.moves.[0]}}</p>
    <p class="noBotMargin">{{this.moves.[1]}}</p>
    <p class="noBotMargin">{{this.moves.[2]}}</p>
    <div class="containerRow">
      <p class="noBotMargin">{{this.moves.[3]}}</p>
      <a class="right" href="/deletePokemon/{{this.id}}"><img class="deleteIcon" src="/images/pokeCard/redDelete.png"></a>
    </div>
  </div>
</div>