<div class="containerColumn flex-wrap">

  <h3 class="center titleMargin2">{{this.name}}<a class="iconMargin1" href=""><img class="deleteIcon" src="/images/pokeCard/redDelete.png"></a></h3>

  <div class="containerRow containerBorder flex-wrap"> <!-- first team pokemons -->

    {{#each this.pokemon}}
      <div class="container"> 
        <img src="{{this.frontSprite}}" class="image">
        <a class="text hiddenBtn middle" href="/removePokemon/{{../this.id}}/{{this.id}}">Remove</a>
      </div>
    {{/each}}

  {{#unless this.pokemon.[5]}}
    <div class="container"> 
      <a class="text hiddenBtn middle-add" href="/addToTeam/{{this.id}}">Add</a>
    </div>
  {{/unless}}

  </div>
</div>