<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/data.js"></script>

<form action="/editPokemon" method="POST" onchange="calculateStats()">
  <div class="containerColumn flex-wrap containerMargin1"> <!-- Main -->

    <div class="containerRow"> <!-- select, pic and description -->

      <div> <!-- Select the pokemon and picture -->

        <div class="selectMargin1"> <!-- Select the pokemon -->

            <select class="form-control dropDown" id="speciesSelect" name="speciesName">
                <option>{{edited.name}}</option>
            </select>
            <input id="editedID" style="display:none" name="editedPokeID" value="{{edited.id}}"></input>
            <span id="editedSpanItem" style="display:none">{{edited.item}}</span>
            <span id="editedSpanAbility" style="display:none">{{edited.ability}}</span>
            <span id="editedSpanNature" style="display:none">{{edited.nature}}</span>
            <span id="editedSpanMove1" style="display:none">{{edited.moves.[0]}}</span>
            <span id="editedSpanMove2" style="display:none">{{edited.moves.[1]}}</span>
            <span id="editedSpanMove3" style="display:none">{{edited.moves.[2]}}</span>
            <span id="editedSpanMove4" style="display:none">{{edited.moves.[3]}}</span>
        </div>

        <img class="imgMargin1" id="selectedSprite" src="/images/question.png" width="130" alt="photo">
        <img src="/images/question.png" width="130" alt="photo" style="display:none" onload="loadEdit()">

      </div>

      <div class="textMargin1"> <!-- Pokemon description -->
        <ul id="funFactsPanel">
        </ul>
      </div>

    </div>

    <div class="containerRow containerMin1"> <!-- Item, moves, ability, type, category, pokemon save button, nature, base stats, IV, EV, Damage graph -->

      <div class="containerColumn containerMin2"> <!-- Item, moves, ability, type, category and pokemon save button-->

        <div class="containerRow containerMin3">  <!-- Item, moves, ability, type and category -->

          <div class="containerColumn containerMargin3"> <!-- Item, moves -->

            <div> <!-- Select pokemon item -->
                <label for="Items">Item</label>
                <select class="form-control dropDown" id="itemSelect" name="createItem">
                </select>
            </div>

              <div class="containerColumn containerMargin2">
                <label>Moves</label>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect1" onchange="updateMoves()" name="createMove1">
                  <option>Move 1</option>
                </select>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect2" onchange="updateMoves()" name="createMove2">
                  <option>Move 2</option>
                </select>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect3" onchange="updateMoves()" name="createMove3">
                  <option>Move 3</option>
                </select>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect4" onchange="updateMoves()" name="createMove4">
                  <option>Move 4</option>
                </select>
              </div>
            
          </div>

          <div class="containerColumn containerMargin3"> <!-- Ability, type and power -->

            <form class="center"> <!-- Ability -->
              <label for="Abilities">Ability</label>
              <select class="form-control dropDown" id="abilitySelect" name="createAbility">
                <option></option>
              </select>
            </form>

            <div class="containerRow containerMargin2"> <!-- Type and category -->

              <div class="containerColumn containerMargin4"> <!-- Type -->
                <img class="typesMargin1 topMargin1" id="type1Img" src="">
                <img class="typesMargin1"  id="type2Img" src="">
                <img class="typesMargin1"  id="type3Img" src="">
                <img class="typesMargin1"  id="type4Img" src="">
              </div>

              <div class="containerColumn containerMargin4"> <!-- Power -->
                <p class="powerMargin1 topMargin2" id="powerMove1"></p>
                <p class="powerMargin1" id="powerMove2"></p>
                <p class="powerMargin1" id="powerMove3"></p>
                <p class="powerMargin1" id="powerMove4"></p>
              </div>

              <div class="containerColumn containerMargin4"> <!-- Category -->
                <img class="categoryMargin1 topMargin1" id="category1Img" src="" alt="">
                <img class="categoryMargin1" id="category2Img" src="" alt="">
                <img class="categoryMargin1" id="category3Img" src="" alt="">
                <img class="categoryMargin1" id="category4Img" src="" alt="">
              </div>

            </div>
            
          </div>

        </div>

        <button type="submit" class="btn btnSize1 btnColor1 center">Save</button> <!-- pokemon save button -->

      </div>

      <div class="containerColumn center"> <!-- Nature, base stats, IV, EV and damage --> 
          <label for="Natures">Nature</label>
          <select class="form-control dropDown" id="natureSelect" name="createNature">
            <option hidden>{{edited.nature}}</option>
          </select>

        <div class="containerRow containerMargin2"> <!-- Base stats, IV, EV and damage --> 

          <div class="containerColumn"> <!-- Base Stats -->

            <label class="labelMargin3">Base Stats</label> <!-- Base Stats title -->

            <div class="containerRow">

              <div class="containerColumn containerMargin3">  <!-- Base Stats names -->
                <p class="labelMargin1">HP</p>
                <p class="labelMargin1">Atk</p>
                <p class="labelMargin1">Def</p>
                <p class="labelMargin1">SpAtk</p>
                <p class="labelMargin1">SpDef</p>
                <p class="labelMargin1">Spe</p>
              </div>

              <div class="containerColumn containerMargin3">  <!-- Base Stats numbers -->
                <p class="labelMargin1" id="baseStatHP">0</p>
                <p class="labelMargin1" id="baseStatAtk">0</p>
                <p class="labelMargin1" id="baseStatDef">0</p>
                <p class="labelMargin1" id="baseStatSpAtk">0</p>
                <p class="labelMargin1" id="baseStatSpDef">0</p>
                <p class="labelMargin1" id="baseStatSpe">0</p>
              </div>
            
            </div>

          </div>

          <div class="containerColumn containerMargin3"> <!-- IV -->
            <label class="center">IV</label>
              <div class="containerColumn">
                <input id="inputIV1" class="form-control dropDownMargin1" type="number" min="0" max="31" value="{{edited.ivs.HP}}" name="createIV1">
                <input id="inputIV2" class="form-control dropDownMargin1" type="number" min="0" max="31" value="{{edited.ivs.Atk}}" name="createIV2">
                <input id="inputIV3" class="form-control dropDownMargin1" type="number" min="0" max="31" value="{{edited.ivs.Def}}" name="createIV3">
                <input id="inputIV4" class="form-control dropDownMargin1" type="number" min="0" max="31" value="{{edited.ivs.SpAtk}}" name="createIV4">
                <input id="inputIV5" class="form-control dropDownMargin1" type="number" min="0" max="31" value="{{edited.ivs.SpDef}}" name="createIV5">
                <input id="inputIV6" class="form-control dropDownMargin1" type="number" min="0" max="31" value="{{edited.ivs.Spe}}" name="createIV6">
              </div>
          </div>

          <div class="containerColumn containerMargin3"> <!-- EV -->
            <label class="center">EV</label>
              <div class="containerColumn">
                <input id="inputEV1" class="form-control dropDownMargin1" type="number" min="0" max="255" value="{{edited.evs.HP}}" name="createEV1">
                <input id="inputEV2" class="form-control dropDownMargin1" type="number" min="0" max="255" value="{{edited.evs.Atk}}" name="createEV2">
                <input id="inputEV3" class="form-control dropDownMargin1" type="number" min="0" max="255" value="{{edited.evs.Def}}" name="createEV3">
                <input id="inputEV4" class="form-control dropDownMargin1" type="number" min="0" max="255" value="{{edited.evs.SpAtk}}" name="createEV4">
                <input id="inputEV5" class="form-control dropDownMargin1" type="number" min="0" max="255" value="{{edited.evs.SpDef}}" name="createEV5">
                <input id="inputEV6" class="form-control dropDownMargin1" type="number" min="0" max="255" value="{{edited.evs.Spe}}" name="createEV6">
              </div>
          </div>

          <div class="containerColumn containerMargin3"> <!-- Damage Graph -->
            <label>Total</label>
            <div class="center">
              <p class="labelMargin2" id="totalHP">0</p>
              <p class="labelMargin2" id="totalAtk">0</p>
              <p class="labelMargin2" id="totalDef">0</p>
              <p class="labelMargin2" id="totalSpAtk">0</p>
              <p class="labelMargin2" id="totalSpDef">0</p>
              <p class="labelMargin2" id="totalSpe">0</p>
            </div>
          </div>

        </div>

    </div>

  </div>
  
</form>